//COLORS
$color-primary: #546e7a;
$color-primary-light: #819ca9;
$color-primary-dark: #29434e;

$color-secondary-light: #616161;
$color-secondary-dark: #373737;

$color-tertiary-light: #8d6e63;
$color-tertiary-dark: #5f4339;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777; //change name to -1
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


//FONT SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
